html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: Rubik;
  font-style: 12px;
  color: #616161;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  color: black;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
}

/* это все для прибивания footer*/
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1087px;
  margin: 0px auto;
  padding: 0px 15px;
}

main {
  flex: 1 1 auto;
}

/*для прибивания footer*/

/*header*/

/*для прибивания header*/
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

/*для прибивания header*/

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 114px;
}

nav {
  flex: 1 1 auto;
}

ul {
  display: flex;
  justify-content: flex-end;
}

li:hover {
  color: #6b5959;
}

li {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: black;
  margin-right: 40px;
  transition: all 0.3s ease 0s;
}

.header-button {
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  text-transform: uppercase;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #fff;
  background-color: #EC5863;
  padding: 12px 30px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #4285F4;
}

.button-blue {
  background-color: #4285F4;
}

.button-blue:hover {
  background-color: #EC5863;
}

.icon-menu {
  display: none;
}

/*section get-started*/

.get-started {
  background-color: #FAFBFD;
}

.get-started .container {

  position: relative;
  padding: 153px 15px 48px 15px;
}

.get-started .container::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 267px;
  top: 0;
  transform: translate(100%, 0px);
  background-color: #EC5863;
  border-radius: 30px 0px 0px 30px;
}

.get-started-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}


.get-started-text {
  max-width: 440px;
  padding: 60px 20px 0 20px;
}

.get-started-text h1 {
  margin: 0 0 12px 0;
}

h1 .span-blue {
  color: #4285F4;
}

h2 .span-red {
  color: #EC5863;
}

.get-started-text p {
  margin-bottom: 24px;
}

.get-started-image {
  position: relative;
  z-index: 2;
}

.get-started-video {
  display: inline-block;
}

.get-started-video {
  display: flex;
  gap: 12px;
}

.get-started-video h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 0.08em;
  color: #B0B0B0;
}

.get-started-video h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 0.08em;
  color: black;
}